!!! 5
html(lang="en")
	head
		title Websocket Proxying
		script(src='/jquery-1.5.2.js')
		script(src='/socket.io/socket.io.js')
		script(src='/broadway.js')
		script(src='/client.js')
		link(href='/styles/styles.css', rel='stylesheet', type='text/css', media='screen')
	body
		h1 Yo Dawg!
		p#messages Messages
		form
			input#message(type='text')
			input#sendmessage(type='submit', value='send')
		
		
