!!! 5
html(lang="en")
	head
		title Websocket Proxying
		script(src='/excanvas.js')
		script(src='/jquery-1.5.2.js')
		script(src='/socket.io/socket.io.js')
		script(src='/broadway.js')
		link(href='/styles/styles.css', rel='stylesheet', type='text/css', media='screen')
	body(onload='connect()')
		
